
.statistics-box {
  display: flex;
  padding: 30px 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(52, 52, 52, 0.15);
  box-shadow: 0px 0px 30px 0px rgba(52, 52, 52, 0.15);
}
.container-statictic{
  background-color: inherit;
}
.statistics-box .statistics-item {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px 0;
}
.statistics-box .statistics-item .value {
  display: block;
  font-weight: 700;
  line-height: 1em;
  color: #343434;
  font-size: 30px;
  letter-spacing: 0.04em;
  margin: 0 0 12.5px;
}
.statistics-box .statistics-item .title {
  margin: 0;
  font-size: 18px;
  color: #717171;
  line-height: 1em;
}
.statistics-box .statistics-item:not(:last-of-type) {
  border-right: 1px solid #d4d4d4;
}
@media (max-width: 768px) {
  .statistics-box {
    flex-direction: column;
  }
  .statistics-box .statistics-item:not(:last-of-type) {
    border: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    min-width: 80%;
    border-bottom: 1px solid #d4d4d4;
  }
}


/* ----- Destinations Form ----- */
.destinations-form {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  position: relative;

}
.destinations-form .input-line {
  display: block;
  width: 100%;
}
.destinations-form .input-line .form-input {
  width: 100%;
  height: 35px;
  border: 0;
  padding: 0 240px 0 30px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.04em;
  border-radius: 5px;
  color: #2c3e50;
}
.destinations-form .input-line .form-input:focus, .destinations-form .input-line .form-input.has-value {
  background: #fafafa;
}
@media (max-width: 768px) {
  .destinations-form .input-line .form-input {
    padding-right: 190px;
  }
}
.destinations-form .form-submit {
  position: absolute;
  right: 0;
  top: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
@media (max-width: 768px) {
  .destinations-form .form-submit {
    padding: 0 15px !important;
  }
}
.btn.btn-special {
  background: #e7434e;
  line-height: 30px;
  border-radius: 5px;
  color: #ffffff;
  height: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 0 40px;
}
.btn.btn-special:hover {
  background: #34495e;
}
.btn.btn-special:not(.no-icon)::before {
  font-family: icomoon;
  display: inline-block;
  margin-right: 12.5px;
}

div .card-dest{
  max-width: 150px;
  padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

div .margin{
  margin-left: 15%;
  margin-right: 15%;
}
