<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Senior Project</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">
<link href="App.css" rel="stylesheet">


    <link href="plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="plugins/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="plugins/selectbox/select_option1.css">
    <link rel="stylesheet" type="text/css" href="plugins/datepicker/datepicker.css">
    <link rel="stylesheet" type="text/css" href="plugins/isotope/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="plugins/isotope/isotope.css">

    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- CUSTOM CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/colors/default.css" id="option_color">


    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>


  </head>
  <body>


      <div id="root">{{{ markup }}}</div>
      <script src="/js/bundle.js"></script>


      <script src="vendor/jquery/jquery.min.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

      <!-- Plugin JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

      <!-- Contact Form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>

      <!-- Theme JavaScript -->
      <script src="js/agency.min.js"></script>


      <script src="js/jquery.js"></script>
      <script src="js/functions.js"></script>



      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="plugins/jquery-ui/jquery-ui.js"></script>

      <script src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
      <script src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
      <script src="plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
      <script src="plugins/datepicker/bootstrap-datepicker.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
      <script src="plugins/counter-up/jquery.counterup.min.js"></script>
      <script src="plugins/isotope/isotope.min.js"></script>
      <script src="plugins/isotope/jquery.fancybox.pack.js"></script>
      <script src="plugins/isotope/isotope-triger.js"></script>
      <script src="plugins/countdown/jquery.syotimer.js"></script>
      <script src="plugins/smoothscroll/SmoothScroll.js"></script>
      <script src="js/custom.js"></script>
  </body>
</html>
